{% extends 'base.html' %}

  {% block body %}
  {% include '_messages.html' %}
  <div class="container my-3">
    <h2>Add ToDo</h2>
    {% from "_formhelpers.html" import render_field %}
          <form method="POST">
          <dl>
            {{ render_field(form.title,class="form-control") }}
            {{ render_field(form.description,class="form-control") }}
          </dl>
          <p><input type=submit value=Submit class="btn btn-primary"></p>
          </form>
  </div>
  <div class="container my-3" >
    <h2>Your ToDo's</h2>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date Created</th>
      </tr>
    </thead>
    <tbody>
    {% for todo in all_todo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <a href="/delete/{{todo.sno}}/{{todo.user_id}}" type="button" class="btn btn-secondary">Delete</a>
          <a href="/update/{{todo.sno}}" type="button" class="btn btn-secondary">Update</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
  {% endblock body %}
