{% extends 'base.html' %}

  {% block body %}
    <div class="container">
        <h2>UPDATE ToDo</h2>
            {% from "_formhelpers.html" import render_field %}
          <form method="POST">
          <dl>
            {{ render_field(form.title,class="form-control") }}
            {{ render_field(form.description,class="form-control") }}
          </dl>
          <p><input type=submit value=Submit class="btn btn-primary"></p>
          </form>
        </form>
    </div>
  {% endblock body %}
